/FULLRMI/nbproject/private/
/testRMI/nbproject/private/
/testRMI/build/
/testRMIServer/nbproject/private/
/FULLRMII/nbproject/private/
/FULLRMII/build/
/FULLWS/nbproject/private/
/FULLWS/build/
/WSTEST/nbproject/private/
/WSTEST/build/
/FULLUDP/build/
